<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />        

        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <title>Debtor Profile</title>
    </head>

    <body>    
        <header class="profile" style="text-align: center;">            
            <img src="avater.jpg" alt="">   
            <div class="info">
                <div class="profileinfo">
                <tr><td>Debtor ID: </td><td class="lightword">PA0002</td></tr>
                <tr><td>Name: </td><td class="lightword">John Doe</td></tr>                
                <tr><td>Phone: </td><td class="lightword">0125879654</td></tr>  
                <tr><td>Address: </td><td class="lightword">Uttara, Dhaka Uttara, DhakaUttara Uttara, Dhaka Uttara, DhakaUttara Uttara, Dhaka Uttara, DhakaUttara</td></tr>                  
                </div>
                <br>
                <!-- <hr> -->
                <br>
                <div class="infototal">
                    <tr><td>Total Loan: </td><td class="lightword">2000000.00</td></tr>  
                <tr><td>Total Deposit: </td><td class="lightword">100000.00</td></tr>  
                <tr><td>Balance: </td><td class="lightword">190000.00</td></tr>  
                </div>
                <br>
                <div class="buttondiv">                     
                    <button class="samebuttons" type="button" onclick="ModalFunc(loanbtn)" id="loanbtn">Loan</button>
                    <button class="samebuttons" type="button" onclick="ModalFunc(depositbtn)" id="depositbtn">Deposit</button>                    
                </div> 
            </div>
        </header>
        <div class="list-cards">
            <div class="card list">                                                
                <tr><td>Debtor ID: </td><td class="lightword">PA0002</td></tr>
                <tr><td>Date: </td><td class="lightword">Nov 12, 2021</td></tr>
                <tr><td>Description: </td><td class="lightword">CashCashCash</td></tr>
                <tr><td>Loan: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Deposit: </td><td class="lightword">120.00</td></tr>
                <tr><td>Credit Balance: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Status: </td><td class="lightword">Due</td></tr>                
                <img src="edit.png" alt="asd">             
            </div>
            <div class="card list">
                <tr><td>Debtor ID: </td><td class="lightword">PA0002</td></tr>
                <tr><td>Date: </td><td class="lightword">Nov 12, 2021</td></tr>
                <tr><td>Description: </td><td class="lightword">Cash</td></tr>
                <tr><td>Loan: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Deposit: </td><td class="lightword">120.00</td></tr>
                <tr><td>Credit Balance: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Status: </td><td class="lightword">Due</td></tr>     
                <img src="edit.png" alt="asd">                        
            </div>
            <div class="card list">
                <tr><td>Debtor ID: </td><td class="lightword">PA0002</td></tr>
                <tr><td>Date: </td><td class="lightword">Nov 12, 2021</td></tr>
                <tr><td>Description: </td><td class="lightword">Cash</td></tr>
                <tr><td>Loan: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Deposit: </td><td class="lightword">120.00</td></tr>
                <tr><td>Credit Balance: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Status: </td><td class="lightword">Due</td></tr>     
                <img src="edit.png" alt="asd">                        
            </div>
            <div class="card list">
                <tr><td>Debtor ID: </td><td class="lightword">PA0002</td></tr>
                <tr><td>Date: </td><td class="lightword">Nov 12, 2021</td></tr>
                <tr><td>Description: </td><td class="lightword">Cash</td></tr>
                <tr><td>Loan: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Deposit: </td><td class="lightword">120.00</td></tr>
                <tr><td>Credit Balance: </td><td class="lightword">10000.00</td></tr>
                <tr><td>Status: </td><td class="lightword">Due</td></tr>    
                <img src="edit.png" alt="asd">                         
            </div>
            
        </div>

        <footer>
            <div class="menu">
                <i class="fa fa-tasks" aria-hidden="true"></i>               
                <h6>Dashboard</h6>
            </div>
            <div class="menu">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6>Land Record</h6>
            </div>
            <div class="menu" style="opacity: 1;">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <h6>Loan</h6>
            </div>
            <div class="menu">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <h6>Invest</h6>
            </div>
            
        </footer>
    </body>    
    <div id="Loan" class="modal">
    
        <div class="modal-content">
          <div class="modal-body">
            </td><td class="close"></span>
            <h3>Loan</h3>
            <div class="formContainer">
            <form action="{% url 'accounts' profile.id 'loan' %}" method="post">                      
                <label for="">Date</td><td style="color: red;">*</span></label><br>
                <input type="date" name="date">
                <label for="">Description</td><td style="color: red;">*</span></label><br>
                <input type="text" name="description">
                <label for="">loan Amount</td><td style="color: red;">*</span></label><br>
                <input type="number" step="0.001"  name="deposit"><br>                        
                <input type="submit" value="Submit">
            </form>        
        </div>
          </div>
        </div>
      </div>
    
      <div id="Deposit" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            </td><td class="close"></span>
            <h3>Deposit</h3>
            <div class="formContainer">
            <form action="{% url 'accounts' profile.id 'deposit' %}" method="post">                         
                <label for="">Date</td><td style="color: red;">*</span></label><br>
                <input type="date" name="date">
                <label for="">Description</td><td style="color: red;">*</span></label><br>
                <input type="text" name="description">
                <label for="">Deposit Amount</td><td style="color: red;">*</span></label><br>
                <input type="number" step="0.001"  name="deposit"><br>                        
                <input type="submit" value="Submit">
            </form>
        </div>
          </div>
        </div>
      </div>
      <script>

        

        function ModalFunc(btn) {
            if (btn.id == "loanbtn") {
                var modal = document.getElementById("Loan");
                var span = document.getElementsByClassName("close")[0];
            }
            if (btn.id == "depositbtn") {
                var modal = document.getElementById("Deposit");
                var span = document.getElementsByClassName("close")[1];
            }
    
            modal.style.display = "block";
    
            span.onclick = function () {
                modal.style.display = "none";
                console.log("close");
            };
    
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        }    
    
    </script>
</html>
