* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {  
  height: 100%;  
  max-width: 700px;
  margin: auto;
}

main{  
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100%;  
  flex-wrap: wrap;
}

.login{
  /* background-color: red; */
  width: 330px;
  text-align: center;
  Color: #313030;  
}

.login h3{
  font-weight: normal;
  margin-bottom: 25px;
  color: #7A7B85;
  font-size: 14px;
}

.formContainer{
  text-align: left;
}

.formContainer label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;  
  color: #302D45;
}
.modal-body form input[type="date"],input[type="text"], input[type="number"],
.formContainer input[type="text"], input[type="password"], input[type="submit"]{
  width: 100%;
  height: 40px;
  margin: 5px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #E1E1E1;   
}

.modal-body form input[type="submit"],
.formContainer input[type="submit"]{
  background-color:#313030; 
  color: white;
  font-size: 20px;  
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
/* Login css */

/* Dashboard css */
header{
  margin: 50px 20px 0 20px;
  /* background-color: red;   */
  color: #313030;
}

.name-logout{
  margin: 5px 0 30px 0;
  display: flex;
  justify-content: space-between;    
}

.name-logout h3{
  font-style: normal;
  font-weight: 500;
}

.name-logout button{
  width: 75px;
  height: 24px;
  background: #313030;
  border-radius: 5px;
  color: #E1E1E1;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;  
  border: none;
  cursor: pointer;
}

.list-cards,
.menuCards,
.dashcards{
  /* background-color: burlywood; */
  display: flex;  
  flex-flow: row wrap;
  gap: 12px;
  padding-bottom: 50px;
}

.card{    
  width: 320px;
  height: 117px;
  /* background-color: #ffb0b0; */
  margin: 16px 10px;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.card i{    
  font-size: 30px;
  margin: 25px 0 0 25px;
}

.count-total{
  text-align: right;
  margin-right: 12px;
}

.count-total h5{
  color: #7A7B85;  
}

footer{  
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  height: 60px;    
  display: flex;        
  background: #FFFFFF;  
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0px 0px;
  
}

.menu{
  text-align: center;
  width: 25%; 
  margin: 15px 0 0 0;   
  opacity: 0.65;
}

.menu h6{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

/* Loan css */
.menuCards{
  margin: 0 22px;  
}

.menuCard{  
  width: 159px;
  height: 182px;
  /* margin: 20px 16px;   */
  padding: 12px;
  border: 1px solid #939DA9;
  box-sizing: border-box;
  border-radius: 10px;
}

.menuCard i{  
  background: #CACACE;
  /* opacity: 0.4; */
  padding: 8px 13px;
  margin: 8px 0 0 0;
  color: #313030;
  border-radius: 10px;
}

.destitle{
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #313030;
  margin: 28px 0 12px 0;
}

.samebuttons,
.menuCard button{
  width: 130px;
  height: 36px;
  background: #313030;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;  
  font-weight: 600;
  font-size: 12px;
}

/* Loan Status css */

.search-container input[type=text]{
  width: 250px;  
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #313030;  
}

.search-container button {  
  padding: 6px 10px;
  margin-top: 8px;  
  background: #313030;
  font-size: 16px;
  color: white;  
  cursor: pointer;
  margin-left: 0;
}

.list{
  padding: 12px;
  height: 186px;
}

.list h5{
  margin-bottom: 6px;
  line-height: 18px;
}

.lightword{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
/* color: blue; */
}

.buttondiv{
  text-align: center;
  margin-top: 12px;
}

/* Debtor Profile css */
.profile{
  background: #ffffff;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-top: 100px;   
  height: 300px;
}

.profile img{
  width: 100px;
  height: 100px;
  background: url(.jpg), #C4C4C4;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #313030;
  box-sizing: border-box;
  transform: translatey(-50%);
}

.info{
  transform: translatey(-20%);
  margin: 0 15px;
  text-align: left;
}

.info hr{
  border-top: 1px solid #F2F2F2;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 331px;
  height: 420px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-body h3{
  margin-bottom: 20px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-body {
  padding: 30px 16px;
}


@media (max-width: 800px){
  .list-cards{
    justify-content: center;
  }

}