@media (max-width: 800px) {
  nav {
    padding: 10px 25px;
  }
  .login {
    margin: 50% 15%;
  }

  .login input[type="text"],
  [type="password"] {
    margin: 25px 20px;
    padding: 5px 15px;
    border: none;
    background-color: #d1d1d100;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid #5bccf6;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .profile {
    margin: 70px 5% 0 5%;
    width: 100%;
    display: block;
    text-align: center;
  }

  .mainprofile {
    display: block;
  }

  .mainprofile img {
    width: 120px;
    height: 120px;

    transform: translateY(-50%);
  }
  .userprofile {
    transform: translateY(-40%);
    padding: 0;
  }

  .totaldebitdeposit {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .buttons {
    margin: 25px;
    padding: 0;
  }

  .buttons button {
    width: 70%;
    margin-bottom: 10px;
    padding: 3px 0;
  }

  ol {
    margin: 15% 0 0 25%;
  }

  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
  }

  .tablecontainer {
    display: none;
  }

  .restablecontainer {
    display: block;
    width: 80%;
  }

  .tblrow {
    background-color: rgb(255, 244, 225);
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    min-width: 240px;
  }
}
