{% extends "app/layout.html" %}

{% block title %} 
Advance page 
{% endblock %} 
{% block head %}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .tablecontainer th, td{
        text-align: center;        
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 30%;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */
    .close {
        color: rgb(0, 0, 0);
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-body {
        padding: 30px 16px;
    }

    @media (max-width: 700px) {
        .modal-content {
            width: 100%;
        }

        .tablecontainer {
        display: block;
    }
    }
</style>
{% endblock %} 
{% block body %}
<main>
    <div class="tablecontainer">
        <h2>Advance Status</h2>
        
        <table>
            <div class="landcard">
                <div class="card">mouja: {{ land.mouja }}</div>
                <div class="card">R/S Dag: {{ land.rsdag }}</div>
                <div class="card">Total Price: {{ land.totalprice }}</div>
                <div class="card">Total Advance: {{ total }}</div>
                <div class="card">Due: {{ balacnce }}</div>
            </div>
            <tr>                
                <th>Date</th>            
                <th class="ralign">Description</th>
                <th class="ralign">Advance</th>                
            </tr>
            {% for a in advances %}
            <tr>
                <td>{{ a.date }}</td>
                <td>{{ a.description }}</td>
                <td>{{ a.advance }}</td>                                   
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="restablecontainer">
        <!-- {% for account in accounts %}
        <div class="tblrow">
            {{ account.debtor }} | {{ account.description }} | {% if account.status %} Paid  {% else %} Due {% endif %}<br />
            Balance: {{ account.balance }} <br />
            Loan: {{ account.loan }}, Deposit: {{ account.deposit }}
        </div>
        {% endfor %} -->
    </div>
    <button class="ad">New Advance</button>
</main>

{% endblock %}
