{% extends "app/layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<header style="text-align: center;">    
    <h3>Land Advance Details</h3>
    <br>
    <div class="name-logout">                
    </div>
    <div class="info">
        <h5>Mouja: <span class="lightword">{{ land.mouja }}</span></h5>
        <h5>R/S Dag: <span class="lightword">{{ land.rsdag }}</span></h5>                
        <h5>Total Price: <span class="lightword">{{ land.totalprice|floatformat:2 }}</span></h5>
        <h5>Total Advance: <span class="lightword">{{ total|floatformat:2 }}</span></h5>
        <h5>Due: <span class="lightword">{{ balacnce|floatformat:2 }}</span></h5>      
        <br>
        <hr>      
        <div class="buttondiv"> 
            <a href="{% url 'landCencellation' id land.id %}"><button class="samebuttons">Land Cencellation</button></a>
        </div>                       
    </div>
</header>

<div class="list-cards">
    {% for a in advances %}
      <div class="card list" style="height: 86px;">      
          <h5>Date: <span class="lightword">{{ a.date }}</span></h5>
          <h5>Description: <span class="lightword">{{ a.description }}</span></h5>
          <h5>Advance: <span class="lightword">{{ a.advance|floatformat:2 }}</span></h5>                    
      </div>
    {% endfor %}
    <div class="buttondiv"> 
        <button class="samebuttons" onclick="ModalFunc(loanbtn)" id="loanbtn">New Advance</button>
    </div>
  </div>

  <div id="Loan" class="modal">
    
    <div class="modal-content" style="height: 500px;">
      <div class="modal-body">
        <span class="close"></span>
        <h3>Invest</h3>
        <div class="formContainer">
        <form action="{% url 'advance' id land.id %}" method="post">  
            {% csrf_token %}                      
            <label for="">Description<span style="color: red;">*</span></label><br>
            <input type="text" name="description">            
            <label for="">Amount<span style="color: red;">*</span></label><br>
            <input type="number" step="0.001" name="amount"><br> 
            <label for="">Date<span style="color: red;">*</span></label><br>
            <input type="date" name="date"><br>                        
            <input type="submit" value="Submit">
        </form>        
    </div>
      </div>
    </div>
  </div>
{% endblock %}