{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<style>
    .dashboardicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header>
    <h2>Welcome Back!</h2>
    <div class="name-logout">
        <h3><i class="fa fa-user" aria-hidden="true"></i> {{ user }}</h3>
        <a href="{% url 'logout' %}"><button><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</button></a>
    </div>
</header>

<div class="dashcards">

    <!-- Loan -->

    <div class="card">          
        <img src="{% static 'app/img/icon/total_loan.png' %}" alt="">        
        <div class="count-total">
            <h5>Total Loan</h5>
            <h3>&#2547; {{ total_loan|floatformat:2 }}</h3>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'app/img/icon/total_loan_deposit.png' %}" alt="">        
        <div class="count-total">
            <h5>Total Loan Deposit</h5>
            <h3>&#2547; {{ total_deposit|floatformat:2 }}</h3>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'app/img/icon/totalloan_balance.png' %}" alt="">
        <div class="count-total">
            <h5>Total Loan Balance</h5>
            <h3>&#2547; {{ total_due_loan|floatformat:2 }}</h3>
        </div>
    </div>

    <!-- Invest -->

    <div class="card">
        <img src="{% static 'app/img/icon/total_invest.png' %}" alt="">
        <div class="count-total">
            <h5>Total Invest</h5>
            <h3>&#2547; {{ total_invest|floatformat:2 }}</h3>
        </div>
    </div>
    
    <div class="card">
        <img src="{% static 'app/img/icon/total_invest_return.png' %}" alt="">
        <div class="count-total">
            <h5>Total Return</h5>
            <h3>&#2547; {{ total_return|floatformat:2 }}</h3>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'app/img/icon/total_invest_due.png' %}" alt="">
        <div class="count-total">
            <h5>Total Invast Due</h5>
            <h3>&#2547; {{ total_due_invest|floatformat:2 }}</h3>
        </div>
    </div>

    <!-- Land -->    
    <div class="card">
        <img src="{% static 'app/img/icon/total_land_amount.png' %}" alt="">
        <div class="count-total">
            <h5>Total Land Price</h5>
            <h3>&#2547; {% if total_land_price %}{{ total_land_price|floatformat:2 }} {% else %} 0.00 {% endif %} </h3>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'app/img/icon/total_advance.png' %}" alt="">
        <div class="count-total">
            <h5>Total Land Advanced</h5>
            <h3>&#2547; {{ total_advanced|floatformat:2 }}</h3>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'app/img/icon/total_land_due.png' %}" alt="">
        <div class="count-total">
            <h5>Total Land Due</h5>
            <h3>&#2547; {{ total_due|floatformat:2 }}</h3>
        </div>
    </div>

</div>

{% endblock %}