{% extends "app/layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<main>       
    <div class="section">   
        <h2>Land</h2>
        <div class="subsection">
            <h3>$5000000</h3>
            Land Advacne                
        </div>
        <div class="subsection">
            <h3>$5000000</h3>
            Land Due                
        </div>
    </div>
    <div class="section">   
        <h2>Loan</h2>
        <div class="subsection">
            <h3>$5000000</h3>
            Total Deposit Amount
        </div>
        <div class="subsection">
            <h3>$5000000</h3>
            Total loan Due    
        </div>
    </div>
    <div class="section">   
        <h2>Invest</h2>
        <div class="subsection">
            <h3>$5000000</h3>
            Total invest
        </div>            
    </div>
</main>
{% endblock %}
