{% extends "app/layout.html" %} 
<!-- {% load static %} -->

{% block title %} 
Profile 
{% endblock %} 

{% block head %}
<style>
    .loanicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header class="profile" style="text-align: center;">              
  <div class="image-upload">
          <label onclick="imagePreview(imgbtn)" id="imgbtn">
              <img src="{{ profile.img.url }}" />
          </label>
  </div>
  <div class="info">
      <h5>Debtor ID: <span class="lightword">{{ profile }}</span></h5>
      <h5>Name: <span class="lightword">{{ profile.debtorName }}</span></h5>                
      <h5>Phone: <span class="lightword">{{ profile.phone }}</span></h5>  
      <h5>Address: <span class="lightword">{{ profile.address }}</span></h5>  
      <br>
      <hr>
      <br>
      <h5>Total Loan: <span class="lightword">{{ total_loan|floatformat:2 }}</span></h5>  
      <h5>Total Deposit: <span class="lightword">{{ total_deposit|floatformat:2 }}</span></h5>  
      <h5>Balance: <span class="lightword">{{ Due|floatformat:2 }}</span></h5>  
      <br>
      <div class="buttondiv">                     
          <button class="samebuttons" type="button" onclick="ModalFunc(loanbtn)" id="loanbtn">Loan</button>
          <button class="samebuttons" type="button" onclick="ModalFunc(depositbtn)" id="depositbtn">Deposit</button>
      </div> 
  </div>
</header>
<div class="list-cards">
  {% for account in accounts %}
  <div class="card list">      
      <h5>Date: <span class="lightword">{{ account.date }}</span></h5>
      <h5>Description: <span class="lightword">{{ account.description }}</span></h5>
      <h5>Loan: <span class="lightword">{{ account.loan|floatformat:2 }}</span></h5>
      <h5>Deposit: <span class="lightword">{{ account.deposit|floatformat:2 }}</span></h5>
      <h5>Credit Balance: <span class="lightword">{{ account.balance|floatformat:2 }}</span></h5>
      <h5>Status: <span class="lightword">{% if account.status %} Paid {% else %} Due {% endif %}</span></h5>                
  </div>
  {% endfor %}
</div>

<div id="Loan" class="modal">
    
  <div class="modal-content">
    <div class="modal-body">
      <span class="close"></span>
      <h3>Loan</h3>
      <div class="formContainer">
      <form action="{% url 'accounts' profile.id 'loan' %}" method="post">  
          {% csrf_token %}                      
          <label for="">Date<span style="color: red;">*</span></label><br>
          <input type="date" name="date">
          <label for="">Description<span style="color: red;">*</span></label><br>
          <input type="text" name="description">
          <label for="">loan Amount<span style="color: red;">*</span></label><br>
          <input type="number" step="0.001"  name="loan"><br>                        
          <input type="submit" value="Submit">
      </form>        
  </div>
    </div>
  </div>
</div>

<div id="Deposit" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <span class="close"></span>
      <h3>Deposit</h3>
      <div class="formContainer">
      <form action="{% url 'accounts' profile.id 'deposit' %}" method="post">
        {% csrf_token %}                           
          <label for="">Date<span style="color: red;">*</span></label><br>
          <input type="date" name="date">
          <label for="">Description<span style="color: red;">*</span></label><br>
          <input type="text" name="description">
          <label for="">Deposit Amount<span style="color: red;">*</span></label><br>
          <input type="number" step="0.001"  name="deposit"><br>                        
          <input type="submit" value="Submit">
      </form>
  </div>
    </div>
  </div>
</div>

<div id="Image" class="modal">
  <div class="modal-content imgshow">
    <div class="modal-body imgbody">             
      <img src="{{ profile.img.url }}" />
      <form id="ImgForm" action="{% url 'debtorprofile' profile.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}           
        <label for="file-input" class="samebuttons" style="padding: 10px 30px;">Update Imgae</label>            
        
        <input class="samebuttons" style="display: none;" id="file-input" type="file" accept="image/*" name="img" onchange="uploadimage(this)"/>
      </form>  
  </div>
    </div>
  </div>
</div>


  <script>
    function imagePreview(btn){      
      if (btn.id == "imgbtn") {          
            var modal = document.getElementById("Image");
            var span = document.getElementsByClassName("close")[0];
        }
        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
            console.log("close");
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }
        
    function ModalFunc(btn) {
      
        
        
        if (btn.id == "loanbtn") {
            var modal = document.getElementById("Loan");
            var span = document.getElementsByClassName("close")[0];
        }
        if (btn.id == "depositbtn") {
            var modal = document.getElementById("Deposit");
            var span = document.getElementsByClassName("close")[1];
        }

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
            console.log("close");
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }    

  </script>
{% endblock %}

