{% extends "app/layout.html" %} 
{% block title %} 
Profile 
{% endblock %} 
{% block body %}
<main>
    <div class="profile">
        <div class="mainprofile">
            <img src="avatar.jpg" alt="Avatar" class="avatar" />
            <div class="userprofile">
                <h4>{{ profile }}</h4>
                <h2>{{ profile.debtorName }}</h2>
                <p>{{ profile.phone }}</p>
                <p>{{ profile.address }}</p>
                <p></p>
            </div>
        </div>
        <div class="totaldebitdeposit">
            <table id="totalid">
                <tr>
                    <td><h3>Total Debit:</h3></td>
                    <td class="amount"><h3>$32423432</h3></td>
                </tr>
                <tr>
                    <td><h3>Total Deposit:</h3></td>
                    <td class="amount"><h3>$32423432</h3></td>
                </tr>
                <tr>
                    <td><h3>Due:</h3></td>
                    <td class="amount"><h3>$35343</h3></td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <button type="button" id="myBtn">Debit</button>
            <button type="button">Deposit</button>
        </div>
    </div>

    <div class="tablecontainer" style="margin: 0 0">
        <h2>Loan Status</h2>

        <table>            
            <tr>
                <th>Depter ID</th>
                <th>Date</th>
                <th>Name & Description</th>
                <th>Credit</th>
                <th>Deposit</th>
                <th>Credit Balance</th>
                <th>Status</th>
            </tr>           

        </table>
    </div>

    <div class="restablecontainer">
        <div class="tblrow">
            R0001 | Raju | Paid <br />
            Total Balance: 5000000 <br />
            Credit: 0, Deposit: 100000
        </div>

    </div>
</main>
{% endblock %}
