{% extends "app/layout.html" %}

{% block title %}
Loan
{% endblock %}

{% block body %}
<main>       
    <div class="tablecontainer">
        <h2>All Debtors</h2>

        <table>
            <tr>
                <th>Debtor ID</th>
                <th>Name</th>
                <th>Phone</th>                                
                <th>Balance</th>
                <th>Status</th>
            </tr>
            {% for debtor, balance in debtors.items %}
                <tr>
                    <td>{{ debtor }}</td>
                    <td> <a style="color: black;" href="{% url 'debtorprofile' debtor.id %}"> {{ debtor.debtorName }}</a> </td>
                    <td>{{ debtor.phone }}</td>
                    <td class="ralign">{{ balance.0|floatformat:2 }}</td>                                      
                    <a href=""><td>{{ balance.1 }}</td></a>                    
                </tr>            
            {% endfor %}
        </table>
    </div>
    <div class="restablecontainer">
        {% for debtor in debtors %}
        <a style="color: black;" href="{% url 'debtorprofile' debtor.id %}">
            <div class="tblrow">
                <h3>{{ debtor }} |  {{ debtor.debtorName }}</h3>
                <h5>{{ debtor.phone }}</h5>
            </div>
        </a>
        {% endfor %}

    </div>
</main>
{% endblock %}
