{% extends "app/layout.html" %}

{% block title %}
Loan
{% endblock %}

{% block body %}
<header style="text-align: center;">
    <h2>All Debtors</h2>
    <div class="name-logout">                
    </div>
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    
</header>
<div class="list-cards">
    {% for debtor, balance in debtors.items %}
    <div class="card list">
        <h5>Debtor ID: <span class="lightword">{{ debtor }}</span></h5>
        <h5>Name: <span class="lightword">{{ debtor.debtorName }}</span></h5>                
        <h5>Phone: <span class="lightword">{{ debtor.phone }}</span></h5>                
        <h5>Balance: <span class="lightword">{{ balance.0|floatformat:2 }}</span></h5>
        <h5>Status: <span class="lightword">{{ balance.1 }}</span></h5>  
        <div class="buttondiv"> 
            <a href="{% url 'debtorprofile' debtor.id %}"><button class="samebuttons">See Profile</button></a>
        </div> 
    </div>
    {% endfor %}
</div>

{% endblock %}
