{% extends "app/layout.html" %}

{% block title %}
Edit
{% endblock %}

{% block head %}
<style>
    .investicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<main>    
    <div class="modal-content editfor">
        <div class="modal-body">      
          <h3>Update</h3>
          <div class="formContainer">
          <form action="{% url 'edit' id edit profileid %}" method="post">  
              {% csrf_token %}                      
              <label for="">Date<span style="color: red;">*</span></label><br>
              <input type="date" name="date" value="{{ data.date }}">
              <label for="">Description<span style="color: red;">*</span></label><br>
              <input type="text" name="description" value="{{ data.description }}">
            {% if edit == "loanedit" %}
              <label for="">Loan Amount<span style="color: red;">*</span></label><br>
              <input type="number" step="0.001"  name="loan" value="{{ data.loan }}"><br>
            {% elif edit == "investedit" %}
                <label for="">Invest Amount<span style="color: red;">*</span></label><br>
                <input type="number" step="0.001"  name="loan" value="{{ data.invest }}"><br>
            {% endif %}

            {% if edit == "loanedit" %}
              <label for="">Deposit Amount<span style="color: red;">*</span></label><br>
              <input type="number" step="0.001"  name="deposit" value="{{ data.deposit }}"><br> 
            {% elif edit == "investedit" %}
                <label for="">Return Amount<span style="color: red;">*</span></label><br>
                <input type="number" step="0.001"  name="deposit" value="{{ data.retern }}"><br> 
            {% endif %}
              <button class="samebuttons" type="submit">Submit</button>
              <span class="close">Cancel</span>
          </form>        
      </div>
        </div>
      </div>
</main>

{% endblock %}
