{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Invest
{% endblock %}

{% block head %}
<style>
    .investicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header>
    <h2>Your Invests</h2>
    <div class="name-logout">                
    </div>
</header>
<div class="menuCards">
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/invest_book.png' %}" alt="">
        <div class="destitle">
            See your all invest status here.
        </div>
        <a href="{% url 'invest' %}"><button>Invest Book</button></a>

    </div>
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/all_lenders.png' %}" alt="">
        <div class="destitle">
            See your all lender details here.
        </div>
        <a href="{% url 'lender' %}"><button>Lenders</button></a>

    </div>
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/new_lender.png' %}" alt="">
        <div class="destitle">
            Create your new lender.            
        </div>
        <a href="{% url 'newlender' %}"><button>New Lender</button></a>
    </div>            
    
</div>

{% endblock %}