{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Land Records
{% endblock %}

{% block head %}
<style>
    .landicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header>
    <h2>Your Land Records</h2>
    <div class="name-logout">                
    </div>
</header>
<div class="menuCards">
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/land_details.png' %}" alt="">
        <div class="destitle">
            See your all land owner's details here.
        </div>
        <a href="{% url 'land' %}"><button>Land Owner's</button></a>

    </div>

    <div class="menuCard">
        <img  src="{% static 'app/img/icon/new_land.png' %}" alt="">
        <div class="destitle">
            Create your new land ownership.
        </div>
        <a href="{% url 'newlandowner' %}"><button>New Land Owner</button></a>

    </div>        
</div>

{% endblock %}