{% extends "app/layout.html" %}
<!-- {% load static %} -->

{% block title %} Profile {% endblock %} {% block head %}
<style>
    /* The Modal (background) */
    .landcontainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        /* flex-shrink: 1; */
    }


    /* Add Animation */

    /* The Close Button */
    .close {
        color: rgb(0, 0, 0);
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    @media (max-width: 700px) {
        .modal-content {
            width: 100%;
        }

        .tablecontainer{
            display: block;
        }
    }
</style>
{% endblock %} {% block body %}
<main>
    <div class="profile">
        <div class="mainprofile">
            <img src="{% static 'app/img/avatar.png' %}" alt="Avatar" class="avatar" />
            <div class="userprofile">
                <h4>{{ profile }}</h4>
                <h2>{{ profile.Landownername }}</h2>
                <p>{{ profile.phone }}</p>
                <p>{{ profile.address }}</p>
                <p></p>
            </div>
        </div>

        <div class="buttons">
            <button type="button" onclick="ModalFunc(loanbtn)" id="loanbtn">
                New Land
            </button>
        </div>
    </div>

    <div class="tablecontainer" style="margin: 0 0; color: black">
        <h2>Land Status</h2>
    <div class="landcontainer">
        {% for landdetail, advance in landdetails.items %}
            <a style="color: black" href="{% url 'advancepage' profile.id landdetail.id %}"> 
                <div class="landcard">
                    <div class="card">Mouja: {{ landdetail.mouja }}</div>
                    <div class="card">R/S Dag: {{landdetail.rsdag }}</div>
                    <div class="card">Land Qty:{{ landdetail.landQTY }}</div>
                    <div class="card">P.D. Price{{ landdetail.perDprice }}</div>
                    <div class="card">Total Price:{{ landdetail.totalprice }}</div>
                    <div class="card">Advance:{{ advance.0 }}</div>
                    <div class="card">Blalance:{{ advance.1 }}</div>
                </div>
            </a>
            {% endfor %}
    </div>
        
    </div>
</main>
<div id="Loan" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <span class="close">&times;</span>
            <h3>New Land</h3>

            <div class="image-upload">
                <form id="ImgForm" action="{% url 'landownerprofile' profile.id %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}          
                      <label for="file-input">
                          <img src="{{ profile.img.url }}" />
                      </label>
                    
                      <input style="display: none;" id="file-input" type="file" accept="image/*" name="img" onchange="uploadimage(this)"/>
                </form>            
              </div>
            
                {% csrf_token %}                
                <input type="text" name="mouja" placeholder="Mouja"/><br />                
                <input type="text" name="rsdag" placeholder="R/S Dag"/><br />                
                <input type="number" name="landQTY" placeholder="Land QTY"/><br />                
                <input type="number" step="0.001" name="perDprice" placeholder="Per Decimal Price"/><br />

                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
</div>

<script>
    function ModalFunc(btn) {
        if (btn.id == "loanbtn") {
            var modal = document.getElementById("Loan");
            var span = document.getElementsByClassName("close")[0];
        }
        if (btn.id == "depositbtn") {
            var modal = document.getElementById("Deposit");
            var span = document.getElementsByClassName("close")[1];
        }

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
            console.log("close");
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }
</script>
{% endblock %}