{% extends "app/layout.html" %}

{% block title %}
Land Details
{% endblock %}

{% block head %}
<style>
    .landicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header style="text-align: center;">
    <h2>Land Details</h2>
    <div class="name-logout">                
    </div>
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    
</header>
<div class="list-cards">
    {% for landowner in landowners %}
    <div class="card list" style="height: 145px;">
        <h5>ID: <span class="lightword">{{ landowner  }}</span></h5>
        <h5>Name: <span class="lightword">{{ landowner.Landownername }}</span></h5>                
        <h5>Phone: <span class="lightword">{{ landowner.phone }}</span></h5>                                
        <div class="buttondiv"> 
            <a href="{% url 'landownerprofile' landowner.id %}"><button class="samebuttons">See Profile</button></a>
        </div> 
    </div>
    {% endfor %}
</div>

{% endblock %}
