{% extends "app/layout.html" %} 
{% load static %}

{% block title %} 
Profile 
{% endblock %} 

{% block head %}
<style>
    .landicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header class="profile" style="text-align: center; height: 250px;">              
  <div class="image-upload">
    <label onclick="imagePreview(imgbtn)" id="imgbtn">
        <img src="{{ profile.img.url }}" />
    </label>
  </div>

  <div class="info">

    <div class="profileinfo">
        <table>
          <tr><td class="column_left">Lender ID: </td><td class="column_right" >{{ profile }}</td></tr>
          <tr><td class="column_left">Name: </td><td class="column_right">{{ profile.Landownername }}</td></tr>
          <tr><td class="column_left">Phone: </td><td class="column_right">{{ profile.phone }}</td></tr>
          <tr><td class="column_left">Address: </td><td class="column_right">{{ profile.address }}</td></tr>
        </table>      
    </div>

    <div class="buttondiv">                     
      <button class="samebuttons" type="button" onclick="ModalFunc(loanbtn)" id="loanbtn">New Land</button>          
    </div> 

  </div>

</header>

<div class="list-cards">
  {% for landdetail, advance in landdetails.items %}
    <div class="card list" style="height: 240px;">            
        <h5>Mouja: <span class="lightword">{{ landdetail.mouja }}</span></h5>
        <h5>R/S Dag: <span class="lightword">{{ landdetail.rsdag }}</span></h5>
        <h5>Land Qty: <span class="lightword">{{ landdetail.landQTY|floatformat:2 }}</span></h5>
        <h5>P.D. Price: <span class="lightword">{{ landdetail.perDprice|floatformat:2 }}</span></h5>
        <h5>Total Price: <span class="lightword">{{ landdetail.totalprice|floatformat:2 }}</span></h5>
        <h5>Advance: <span class="lightword">{{ advance.0|floatformat:2 }}</span></h5>
        <h5>Balance: <span class="lightword">{{ advance.1|floatformat:2 }}</span></h5>      
        <div class="buttondiv"> 
            <a href="{% url 'advancepage' profile.id landdetail.id %}"><button class="samebuttons">See Land</button></a>
        </div> 
        <a href="{% url 'edit' landdetail.id 'landedit' landdetail.landowner %}"><img src="{% static 'app/img/icon/edit.png' %}" alt=""></a>
    </div>
  {% endfor %}
</div>

<div id="Loan" class="modal">
    
  <div class="modal-content" style="height: 500px;">
    <div class="modal-body">      
      <h3>New Land</h3>
      <div class="formContainer">
      <form action="{% url 'newland' profile.id %}" method="post">  
          {% csrf_token %}                      
          <label for="">Mouja<span style="color: red;">*</span></label><br>
          <input type="text" name="mouja">
          <label for="">R/S Dag<span style="color: red;">*</span></label><br>
          <input type="text" name="rsdag">
          <label for="">Land QTY<span style="color: red;">*</span></label><br>
          <input type="number" name="landQTY"><br> 
          <label for="">Per Decimal Price<span style="color: red;">*</span></label><br>
          <input type="number" step="0.001" name="perDprice"><br>                        
          <button class="samebuttons" type="submit">Submit</button>
          <span class="close">Cancel</span>
      </form>        
  </div>
    </div>
  </div>
</div>

<div id="Image" class="modal">
  <div class="modal-content imgshow">
    <div class="modal-body imgbody">
       
        
      <img src="{{ profile.img.url }}" />
      <form id="ImgForm" action="{% url 'landownerprofile' profile.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}           
        <label for="file-input" class="samebuttons" style="padding: 10px 30px;">Update Imgae</label>            
        
        <input class="samebuttons" style="display: none;" id="file-input" type="file" accept="image/*" name="img" onchange="uploadimage(this)"/>
      </form>  
  </div>
    </div>
  </div>
</div>

<script>
  function imagePreview(btn){      
    if (btn.id == "imgbtn") {          
          var modal = document.getElementById("Image");
          var span = document.getElementsByClassName("close")[0];
      }
      modal.style.display = "block";

      span.onclick = function () {
          modal.style.display = "none";
          console.log("close");
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      };
  }
        
    function ModalFunc(btn) {
        if (btn.id == "loanbtn") {
            var modal = document.getElementById("Loan");
            var span = document.getElementsByClassName("close")[0];
        }
        if (btn.id == "depositbtn") {
            var modal = document.getElementById("Deposit");
            var span = document.getElementsByClassName("close")[1];
        }

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
            console.log("close");
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }    

  </script>
{% endblock %}

