{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/font-awesome.min.css' %}">        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav>
            <i class="fa fa-bars" aria-hidden="true"></i>
            <h1>Pocket Account</h1>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </nav>
        {% block body %}{% endblock%}
    </body>
</html>
