{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/font-awesome.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>    
    {% if messages %}
        {% for message in messages %}
                <div id="message_container" style="text-align: center; color: red;"><h3>{{ message }}</h3></div>
        {% endfor %}
    {% endif %}


    
    {% block body %}{% endblock %}
    <footer>
        <div class="menu dashboardicon">
            <a href="{% url 'index' %}">
                <img  src="{% static 'app/img/icon/dashboard.png' %}" alt="">
                <h6>Dashboard</h6>
            </a>
        </div>
        <div class="menu landicon">
            <a href="{% url 'landmenu' %}">
                <img src="{% static 'app/img/icon/land_record.png' %}" alt="">    
            <h6>Land Record</h6>
            </a>
        </div>
        <div class="menu loanicon">
            <a href="{% url 'loanmenu' %}">
                <img src="{% static 'app/img/icon/loan.png' %}" alt="">    
            <h6>Loan</h6>
        </a>
        </div>
        <div class="menu investicon">
            <a href="{% url 'investmenu' %}">
                <img src="{% static 'app/img/icon/invest.png' %}" alt="">    
            <h6>Invest</h6>
            </a>
        </div>
        
    </footer>
</body>
<script>

    function uploadimage(){
        document.getElementById('ImgForm').submit();
    }

    var message_ele = document.getElementById("message_container");

    setTimeout(function(){ 
    message_ele.style.display = "none"; 
    }, 3000);


</script>

<script>
        
    function ModalFunc(btn) {
        if (btn.id == "loanbtn") {
            var modal = document.getElementById("Loan");
            var span = document.getElementsByClassName("close")[0];
        }
        if (btn.id == "depositbtn") {
            var modal = document.getElementById("Deposit");
            var span = document.getElementsByClassName("close")[1];
        }

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
            console.log("close");
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }    

  </script>

</html>