<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Form</title>
</head>
<body>
    <form action="{% url 'credit' %}" method="POST">
        {% csrf_token %}
        <label for="">Name & Description</label>
        <input type="text" name="name">
        <label for="">Credit Ammount</label>
        <input type="number" name="credit">
        <input type="submit">
    </form>
</body>
</html>