{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Loan
{% endblock %}

{% block head %}
<style>
    .loanicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header>
    <h2>Your Loans</h2>
    <div class="name-logout">                
    </div>
</header>
<div class="menuCards">
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/loan_book.png' %}" alt="">
        <div class="destitle">
            See your all loan status here.
        </div>
        <a href="{% url 'loan' %}"><button>Loan Book</button></a>

    </div>
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/all_debtors.png' %}" alt="">
        <div class="destitle">
            See your all debtor details here.
        </div>
        <a href="{% url 'debtor' %}"><button>Debtors</button></a>

    </div>
    <div class="menuCard">
        <img  src="{% static 'app/img/icon/new_debtor.png' %}" alt="">
        <div class="destitle">
            Create your new debtor.
        </div>
        <a href="{% url 'newdebtor' %}"><button>New Debtor</button></a>
    </div>      
    
    
    
</div>

{% endblock %}