{% extends "app/layout.html" %}

{% block title %}
Loan
{% endblock %}

{% block head %}
<style>
    .loanicon{
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
<header style="text-align: center;">
    <h2>Loan Book</h2>
    <div class="name-logout">                
    </div>
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>    
</header>

<div class="list-cards">
    {% for account in accounts %}
    <div class="card list">
        <h5>Debtor ID: <span class="lightword">{{ account.debtor }}</span></h5>
        <h5>Date: <span class="lightword">{{ account.date }}</span></h5>
        <h5>Description: <span class="lightword">{{ account.description }}</span></h5>
        <h5>Loan: <span class="lightword">{{ account.loan }}</span></h5>
        <h5>Deposit: <span class="lightword">{{ account.deposit }}</span></h5>
        <h5>Credit Balance: <span class="lightword">{{ account.balance }}</span></h5>
        <h5>Status: <span class="lightword">{% if account.status %} Paid {% else %} Due {% endif %}</span></h5>                
    </div>
    {% endfor %}
</div>
{% endblock %}
