{% extends "app/layout.html" %}

{% block title %}
Loan
{% endblock %}

{% block body %}
<main>       
    <div class="tablecontainer">
        <h2>Loan Status</h2>

        <table>
            <tr>
                <th>Debtor ID</th>
                <th>Date</th>
                <th>Name & Description</th>
                <th class="ralign">Loan</th>
                <th class="ralign">Deposit</th>
                <th class="ralign">Credit Balance</th>
                <th>Status</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td>{{ account.debtor }}</td>
                <td>{{ account.date }}</td>
                <td>{{ account.description }}</td>
                <td class="ralign">{{ account.loan }}</td>                
                <td class="ralign">{{ account.deposit }}</td>                                      
                <td class="ralign">{{ account.balance }}</td>                                      
                {% if account.status %}
                  <td>Paid</td>                  
                {% else %}  
                <td>Due</td>
                {% endif %}                                     
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="restablecontainer ">
        {% for account in accounts %}
        <div class="tblrow">
            <h3>{{ account.date }}</h3> {{ account.description }} | {% if account.status %} <td>Paid</td> {% else %} <td>Due</td> {% endif %}<br />
            <h5>Balance: {{ account.balance|floatformat:2 }} <br />
              Loan: {{ account.loan|floatformat:2 }}, Deposit: {{ account.deposit|floatformat:2 }}</h5>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
