{% extends "app/layout.html" %}

{% block title %}
New Deptor
{% endblock %}

{% block body %}
<main>    
    <form class="login" action="{% url 'newdebtor' %}" method="POST">
        {% csrf_token %}
        <h2>New Debtor</h2>
        <div class="formContainer">
            <label for="">Dabtor Name<span style="color: red;">*</span></label><br>
            <input type="text" name="name" ><br>
            <label for="">Phone<span style="color: red;">*</span></label><br>
            <input type="text" name="phone"><br>
            <label for="">Address<span style="color: red;">*</span></label><br>
            <input type="text" name="address"><br>                
            <input type="submit" value="Create">
        </div>
    </form>
</main>

{% endblock %}
